.container
  h1.row-fluid.text-center Album photo
  .row
   .col-xs-2.col-md-1
    a.thumbnail(href='#')
       img(src="https://s-media-cache-ak0.pinimg.com/736x/05/e6/21/05e621f38e17bccef60d6441e22e8244.jpg")
   .col-xs-2.col-md-1
     a.thumbnail(href='#')
        img(src="https://s-media-cache-ak0.pinimg.com/736x/6a/c8/65/6ac865cbb09f65fa65fb97e9a4e75c15.jpg")
