block content-form
  h1.row-fluid.text-center Confirmation 
  p.row-fluid.text-center Veuillez remplir les champs, puis cliquez sur sauvegarder.
  div#res_handle
   form.form-horizontal.well.row-fluid.text-center(submit='/after_confirmed/' , method='POST' , action='/after_confirmed')
     fieldset
        .control-group
          label.control-label(for='selectbasic') Accompagné(e)
          .controls
            select#selectbasic.input-small(name='selectbasic')
              option Seul
              option Accompagné (1)
        .control-group
           label.control-label(for='textarea') 
            .controls
               textarea#commentaire(name='commentaire' , placeholder='Laissez un commentaire :)')
        .control-group
          input(type='hidden', name='courriel' ) 
        .control-group
          label.control-label(for='sauvegarder')
          .controls
            button#sauvegarder.btn.btn-default(name='sauvegarder') Je confirme ma présence 
  div.centered
    button#cancel.btn.btn-default Je ne serai pas là
