extends layout

block content
 div#coreground
   div.row-fluid.text-center
    h1 Bonjour
    h1=prenom+" "+nom+" !"
    h1 Vous êtes invités à notre mariage !  
    p S'il vous plaît, confirmez votre présence en cliquant sur "Confirmation" dans la barre ci-dessus.