doctype html
html(ng-app="components")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.css')
    script(type="text/javascript", src="../jquery/jquery.min.js")
    script(type="text/javascript", src='../bootstrap/js/bootstrap.min.js') 
    script(src='./javascripts/mod.js')
  body
   block header
   .navbar#one.navbar.navbar-fixed-top
    .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Sarah et Maxime 
        .nav-collapse.collapse
          ul.nav.navbar-nav#main_menu
            li#info
              a(data-target='#', data-toggle='pill', href='#') Renseignements
            li#inscription
             a(data-target='#', data-toggle='pill', href='#') Confirmation
   
   block content