doctype html
html
  head
    title Bienvenue!
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style_listed.css')
    script(type="text/javascript", src="../jquery/jquery.min.js")
    script(type="text/javascript", src='../bootstrap/js/bootstrap.min.js')
  body
    table.table.table-bordered.table-hover
     thead
      tr
       th Prénom
       th Nom
       th Accompagné (true/false)
       th Conjoint(e)
       th Courriel
       th Commentaire
     tbody
       each invite in liste
        if invite.confirmed == true
         tr.success
          td #{invite.prenom}
          td #{invite.nom}
          td #{invite.accompagne}
          td #{invite.conjoint}
          td #{invite.courriel}
          td #{invite.comment}

    table.table.table-bordered.table-hover
     thead
      tr
       th Prénom
       th Nom
       th Accompagné (true/false)
       th Conjoint(e)
       th Courriel
       th Commentaire
     tbody
       each invite in liste
        if invite.confirmed == false
         tr.danger
          td #{invite.prenom}
          td #{invite.nom}
          td #{invite.accompagne}
          td #{invite.conjoint}
          td #{invite.courriel}
          td #{invite.comment}
