doctype html
html
  head
    title Bienvenue!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.css')
    script(type="text/javascript", src="../jquery/jquery.min.js")
    script(type="text/javascript", src='../bootstrap/js/bootstrap.min.js')
    script(src='./javascripts/login.js')
  body
    form.form-horizontal(action='/login', method="POST")
     fieldset
        legend Invitation
        .control-group
          label.control-label(for='courriel') Adresse courriel
          .controls
            input#courriel.input-xlarge(name='courriel', type='text', placeholder='courrier@domaine', required='')
            p.help-block Entrer le courriel auquel vous avez reçu l'invitation!
        .control-group
          label.control-label(for='login-btn')
          .controls
            button#login.btn.btn-info(name='login-btn') Login
   if error == true
        .alert.alert-danger#nolog
          a.close(data-dismiss='alert') ×
          strong.text-center Attention! Aucune invitation n'a été envoyé à ce courriel, réessayez, ou contactez maxime.g.girard@gmail.com.
   if confirmed == true 
        .alert.alert-success#nolog
          strong.text-center Vous avez déjà confirmez votre présence! Vous pouvez voir notre page d'information 
          a#woom.alert-link(href='/superInfo') ICI