doctype html
html(ng-app="components")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.css')
    script(type="text/javascript", src="../jquery/jquery.min.js")
    script(type="text/javascript", src='../bootstrap/js/bootstrap.min.js')
    script(src='./javascripts/mod.js')
   block header
    .navbar#one.navbar.navbar-fixed-top
     .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Sarah et Maxime
        .nav-collapse.collapse
          ul.nav.navbar-nav#main_menu
            li#info
              a(data-target='#', data-toggle='pill', href='#') Renseignements
            li#pic
              a#pic(data-target='#', data-toggle='pill', href='#') Album photo
   block content
     #coreground
       h1.row-fluid.text-center Informations
       p.row-fluid.text-center Où et Quand ?
       .video-container  
         <iframe width="725" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=d&amp;source=s_d&amp;saddr=7070+Boulevard+des+Mille-%C3%8Eles,+Laval,+QC&amp;daddr=ferme+vieux+chene+laval&amp;hl=fr&amp;geocode=FQ80uQIdFq6c-ykJretnO97ITDFok8QCI5JDUQ%3BFSQPuQIdgSmc-yE2Al0kg4VBzSmHgTnQrN_ITDE2Al0kg4VBzQ&amp;aq=t&amp;sll=45.618304,-73.697918&amp;sspn=0.288158,0.441513&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=45.687565,-73.635349&amp;spn=0.010493,0.031114&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=d&amp;source=embed&amp;saddr=7070+Boulevard+des+Mille-%C3%8Eles,+Laval,+QC&amp;daddr=ferme+vieux+chene+laval&amp;hl=fr&amp;geocode=FQ80uQIdFq6c-ykJretnO97ITDFok8QCI5JDUQ%3BFSQPuQIdgSmc-yE2Al0kg4VBzSmHgTnQrN_ITDE2Al0kg4VBzQ&amp;aq=t&amp;sll=45.618304,-73.697918&amp;sspn=0.288158,0.441513&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=45.687565,-73.635349&amp;spn=0.010493,0.031114&amp;z=15" style="color:#0000FF;text-align:left"/></a></small>