body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/wedding.jpg");
}
a {
  color: #00b7ff;
}
.text-info {
  color: #00b7ff;
  margin-top: -450px;
}
.table {
  width: 100%;
}
