body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url('../images/wedding.jpg')
a
  color: #00B7FF 
 
.text-info
  color: #00B7FF
  margin-top: -450px;

.table
 width: 100%
