body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url('../images/wedding.jpg')
a
  color: #00B7FF 
 
.text-info
  color: #00B7FF
  margin-top: -450px;

.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 35px
    height: 0
    overflow: hidden

.video-container iframe
    position: absolute
    top:0
    left: 0
    width: 100%
    height: 100%

.thumbnail
  width: 20%
  height:10%

#nolog
  margin-top: 30px;
  margin-right: 800px;

#retourner
  text-align: center;
  margin-left: 600px;

.centered
    text-align:center
